html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body { 
	line-height: 1;
	font-family: Trebuchet MS, sans-serif,Arial, Helvetica;
	font-size: 12px; 
	width: 100%; 
	height: 100%; 
	color: #222; 
	font-size: 14px; 
	background: #ffffff url(../images/background.png) repeat;
}
.clear { clear: both; }

#wrapper { 
	margin: 10px auto; 
	width: 940px; 
	height: 100%;
}
#wrapper a { 
	text-decoration: none; 
	/*color: #FFFFFF;*/
}
#wrapper span.highlight { 
	color: #FFFFFF; 
}

#header { 
	/*border-bottom: 1px solid #ccc; */
	/*margin-bottom: 20px; */
	/*background-color: #8951ae; */
	background: url(../images/menu.png) no-repeat 0 0;
	height: 64px;
}
#header .top { 
	width: 700px;
	right: 0px;
 }

#header ul.navigation { 
	padding-top: 30px;
	/*bottom: 0;*/
	list-style: none; 
	text-align: center; 
}
#header .navigation li { 
	display: inline;
	color: #FFFFFF;
}
#header .navigation li a { 
	display: inline-block; 
	padding: 10px 15px; 
	/*border-left: 1px solid #ccc; */
	/*font-weight: bold; */
}
#header .navigation li a:hover { 
	display: inline-block; 
	padding: 10px 15px; 
	/*font-weight: bold; */
	color: #8951ae;
	background-color: #FFFFFF;
}

.current_nav_section { 
	display: inline-block; 
	padding: 10px 15px; 
	font-weight: bold; 
	color: #8951ae;
	background-color: #FFFFFF;
}

.main-col { 
	width: 900px; 
	/*height: 500px;*/
	display: inline-block; 
	float: left; 
	/*border-right: 1px solid #ccc; */
	padding: 20px; 
	/*margin-bottom: 20px; */
	/*background-color: #cccccc;*/
}

.sidebar { 
	width: 239px; 
	padding: 10px; 
	display: inline-block; 
}

.main-col a { color: #8951ae; }
.main-col h1,
.main-col h2 { 
    line-height: 1.2em; 
    font-size: 32px; 
    margin-bottom: 10px; 
    font-weight: normal; 
    color: #F48A00; 
}
.main-col p { 
	line-height: 1.5em; 
	margin-bottom: 20px; 
}

#footer { 
	/*border-top: 1px solid #ccc; */
	clear: both; 
	text-align: center; 
	padding: 10px; 
	height: 100%;
	/*color: #aaa; */
	/*background-color: #8951ae;*/
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.925, #323332), to(#6F706F));
	background-image: -moz-linear-gradient(90deg, #323332 92.5%, #6F706F 100%); 
}

.form_denuncia_widget{
	width: 400px;
	border-color: #999;
	border-style: solid;
	border-width: 1px;
}

.form_denuncia_ta{
	width: 395px;
	border-color: #999;
	border-style: solid;
	border-width: 1px;
}

.form_denuncia_widget2{
	width: 90%;
	border-color: #999;
	border-style: solid;
	border-width: 1px;
	height: 40px;
}

.form_denuncia_widget2_2{
	width: 85%;
	border-color: #999;
	border-style: solid;
	border-width: 1px;
}

#formulario_denuncia{
	width: 400px;
	float: left;
}

.form_div_field{
	margin-bottom: 5px;
}

.form_fix_v{
	height: 25px;
}

#asistencias{
	background-color: #cccccc;
	margin-left: 10px;
	padding: 10px;
	width: 440px;
	float: left;
}

.titulo_asistencia{
	color: #ee4499;
	text-align: center;
}

.descripcion_asistencia{
	color: #449999;
	text-align: center;
}

.texto_asistencia{
	color: #4499ee;
	text-align: center;
}

.td_espacio{
	width: 10px;
}

.tabla_filtro{
	text-align: center;
	width: 100%;
}

.lista_tabla{
	height: 20px;
}

.lista_tabla:hover{
	background-color: #8951ae;
}

td{
	vertical-align: middle;
}

th{
	font-weight: bold;
}

.menu{
	color: #FFFFFF;
}

#columna_izq{
	float:left;
	width: 400px;
}

#columna_der{
	float:right;
	width: 400px;
}

.titulo_denuncia{
	font-weight: bold; 
	color: #8951ae;
}