{% extends 'Orion7CoreBundle::layout.html.twig' %}

{% block body %}
    {% for estado in estados %}
        <article class="estado">
            <header>
                <h2>{{ estado.codigo }} - {{ estado.nombre }}</h2>
            </header>

            asdf
        </article>
    {% else %}
        <p>No hay estados!</p>
    {% endfor %}
{% endblock %}